<% if resource.errors.any? %>
  <h2>The following errors prevented the resource from saving:</h2>
  <%= "#{pluralize(resource.errors.count, 'error')}" %>

  <ul>
    <% resource.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
